.checkout-steps {
  .nav-item {
    padding: 20px;

    @include media-breakpoint-down(sm) {
      padding: 2px;
    }

    .nav-link {
      padding: 0;
      border-bottom: 2px solid transparent;

      &:hover {
        border-bottom: 2px solid;
      }
    }
  }
}
